/* main logo edit */
#logo {
  margin-top: 0.6rem;
  width: 12rem;
  height: 4rem;
}
#logo1 {
  margin-top: 1.2rem;
  width: 3rem;
  display: none;
}
/* ---------------------------------------------------------------------- */
/* home - about - contact */
#home,
#about,
#contact {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 2rem;
}
/* ---------------------------------------------------------------------- */
/* search bar */
#search-container {
  position: relative;
  width: 23vw;
  margin-top: 20px;
}
/* search icon logo */
#search-logo,
#search-logo1 {
  width: 4vw;
  height: 2.45rem;
  position: absolute;
  right: 0;
}
/* search icon text */
#search-text {
  width: 20vw;
  height: 2.44rem;
  position: absolute;
  border: 0.1rem;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
}
/* ---------------------------------------------------------------------- */
/* profile logo */
#profile-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 20px;
}
/* ---------------------------------------------------------------------- */
/* cart */
#cart-container {
  position: relative;
  width: 65px;
  margin-top: 20px;
}
#cart-l {
  position: absolute;
}
#cart-n {
  text-align: center;
  position: absolute;
  right: 01.7rem;
  /* top: 0.2rem; */
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  color: aliceblue;
}
#cart-logo {
  width: 2rem;
  height: 2.5rem;
}
#cart-number {
  font-size: 15px;
  font-weight: bold;
  position: relative;
}
/* ---------------------------------------------------------------------- */
/* nav using grid */
/* parent */
#first-nav {
  top: 0;
  z-index: 5;
  background-color: white;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-areas: "logo home about contact search profile cart";
}
/* child */
#logo-container {
  grid-area: logo;
  margin-left: 1rem;
}
#search-container {
  grid-area: search;
  margin-left: 5vw;
}
#profile-container {
  grid-area: profile;
  margin-left: 2vw;
}
#cart-container {
  grid-area: cart;
}
#home {
  grid-area: home;
}
#about {
  grid-area: about;
}
#contact {
  grid-area: contact;
}

/* media */
@media (max-width: 900px) {
  #first-nav {
    grid-template-areas: "logo  home contact search profile cart";
  }

  #about {
    display: none;
  }
  #logo {
    display: none;
  }
  #logo1 {
    display: block;
  }
}

@media (max-width: 450px) {
  #first-nav {
    grid-template-areas: "logo home profile cart";
  }
  #search-container {
    display: none;
  }
  #contact {
    display: none;
  }



  #contact {
    display: none;
  }
}
